.reg-Form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 90vh;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: left;
}


.reg-Form h2 {
    text-align: left;
    margin-bottom: 1rem;
    margin-right: 160px;
    font-size: 1.8rem;
    color: #333;
}

.reg-Form input {
    width: 95%;
    padding: 0;
    margin-bottom: 2rem;
    border: 3px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.required-asterisk {
    color: red;
    margin-left: 4px;
    font-weight: bold;
}

.radio {
    display: flex;

    color: black;
    margin: 0;
    padding: 0;
}

.radio::placeholder {
    color: transparent;
}


#reg {
    width: 95%;
    padding: 0.75rem;
    background-color: #c2c9cc;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reg:hover {
    background-color: #c2c9cc;
}

@media (max-width: 600px) {
    .reg-Form {
        padding: 1.5rem;
        border-radius: 0;
        box-shadow: none;
    }

    .reg-Form h2 {
        font-size: 1.5rem;
    }
}